set autoprint ask dot append nosave headername autosign nobytesize
set BUFSIZ=8192
set news-server=newsserv@kiae.su unpack-batch

headline Message-ID <$i@$h>
headline Organization unknown
headline From '$r <$u@$h>'
headline Date $a
headline X-Mailer $m

discard -from message-id status references received return-receipt-to
discard resent-message-id resent-organization resent-x-
