;
; ██████╗   █████╗  ██████╗     The RCVT Convertor
; ██╔══██╗ ██╔══██╗ ██╔══██╗    ~~~~~~~~~~~~~~~~~~
; ██████╔╝ ███████║ ██████╔╝    Archive Conversion Utility version 1.00
; ██╔══██╗ ██╔══██║ ██╔══██╗    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
; ██║  ██║ ██║  ██║ ██║  ██║    Configuration file
; ╚═╝  ╚═╝ ╚═╝  ╚═╝ ╚═╝  ╚═╝    ~~~~~~~~~~~~~~~~~~
;
;
;   1. Options:
;
; OnError  NextArchive | Abort
;
;            The value of this option tells RCVT whether to continue
;            conversion with the next archive when error in the current
;            archive is reported by archiver. Set this option to 'Abort'
;            if you want RCVT to stop process archives when error occured.
;
OnError NextArchive
;OnError Abort
;
;
; Add <filename>
;
;            Specifies the name of the file which must be added to every
;            repacked archive. Full pathname should be provided.
;            Multiple "Add" strings are allowed.
;
; Add C:\BBS\MYBBS.ANS
; Add C:\BBS\MYBBS.LST
;
;
; Del <filename>
;
;            Specifes file(s) that should not be placed into the repacked
;            archive. Wildcards using is allowed. Root directory of the
;            archive is assumed if no full path given.
;            Multiple "Del" strings are allowed.
;
; Del *.frm
;
;
; Scan <filename-to-run>
;
;            You can set up program call to process files extracted from
;            the source archive before repacking. For instance, antivirus
;            program to scan files for computer viruses. Should the program
;            return non-zero exit code (ERRORLEVEL) the source archive will
;            not be repacked and corresponding message will be placed into
;            the log file RCVT.LOG.
;            Multiple "Scan" strings are allowed.
;
; Scan C:\TOOLS\ANTIVIR\AIDSTEST *.* /f/g
;
;
; Filelist <filename>
;
;            Specifies the file where source archives are listed.
;            The name of the source archive after successful conversion
;            is replaced with the new one as well as the actual size if
;            possible. If full path is not given then filelist in the
;            same directory with the archive is searched.
;            Multiple "Filelist" strings are allowed.
;
Filelist FILES.BBS
;
;
;   2. Archiver definitions:
;
;   Upto 16 archiver sections could be defined here with the following calls:
;
;   PACK   to pack files into the archive (create the archive)
;   EXTR   to extract files from the archive
;   TEST   to test files in the archive
;   MASK   wildcard to match all files (*.* by default)
;
; Master archive definition: converting to RAR format
.RAR
PACK RAR a -s -std -c- -r -z$CMT$
EXTR RAR x -std -c- -y -av-
TEST RAR t -std -c-

; Converting from old (prior to version 1.50) RAR format
.RAR 52457E5E
PACK RAR a -std -c- -r -z$CMT$
EXTR RAR x -std -c- -y -av-
TEST RAR t -std -c-

; Converting from arj format
.ARJ
PACK CMD/cARJ a -r -a1 -z$CMT$
EXTR CMD/cARJ x -y -v
TEST CMD/cARJ t

; Converting from zip format
.ZIP
PACK ZIP -S -r
EXTR UNZIP
TEST UNZIP -t
MASK *

; Converting from lzh format
.LZH
PACK LH a /a /s /e
EXTR LH x /a /s /e /o
TEST LH t
MASK *

; Converting from uc2 format
.UC2
PACK CMD/cUC a -s
EXTR CMD/cUC e -f -s
TEST CMD/cUC t

; Converting from ha format
.HA
PACK CMD/cHA ar
EXTR CMD/cHA xy
TEST CMD/cHA t
