 7      Main Screen foreground color (0-15)
 0      Main Screen background color (0-7)
 0      Help Screen foreground color (0 to 15)
 7      Help Screen background color (0 to 7)
 0      HiLi Screen foreground color (0 to 31)
 7      HiLi Screen background color (0 to 7)
False   Non-WordStar(tm) Mode Selected (T/F) (prints all, even graphics chars)
ASCII   Ascii Mode to display files (ASCII/Hex)
80      Characters to Display in Hex Mode (24 or 80)
True    Ignore characters (T/F). Ignore Characters on next line.
09 0A 0C 0D 20 
True    Display Control Characters/High Graphics chars (Hex mode) (T/F)
Fast    Fast Video Mode Selected (Slow/Fast)
R       Reversed Mismatched line Selected (Flashing/Reverse/Normal)
O       Opposite Scrolling Mode Selected (Parallel/Opposite)
True    Sound the Bell on Errors (T/F)
25      EGA/VGA Lines (43/50 only on EGA/VGA otherwise use 25 all others)
