From csoft!kiae!fuug!mcsun!uunet!sun-barr!olivea!apple!agate!linus!progress!elliot Sat Aug  1 22:05:26 1992
Path: csoft!kiae!fuug!mcsun!uunet!sun-barr!olivea!apple!agate!linus!progress!elliot
From: elliot@progress.COM (Elliot Chikofsky)
Newsgroups: comp.software-eng,comp.org.ieee
Subject: 3rd Reverse Engineering Forum - 15-17 Sept
Keywords: reverse engineering, reengineering, software maintenance, software engineering, legacy systems
Message-ID: <1992Jul29.185922.20569@progress.com>
Date: 29 Jul 92 18:59:22 GMT
Sender: usenet@progress.com (Mr. Usenet)
Organization: Progress Software Corp.
Lines: 361
Nntp-Posting-Host: tarawa



3rd Reverse Engineering Forum

"Understanding enables Reengineering"

September 15-17, 1992
Northeastern University
Burlington, Massachusetts, USA

The Reverse Engineering Forum is a combined industry/research 
review of the state of the art and the state of the practice in 
reverse engineering and reengineering of software and systems.  It 
is a meeting place for key people in the reverse engineering 
field:  developers, researchers, and leading-edge users.

Reverse Engineering is an evolving collection of methods and 
technologies to salvage an organization's software asset through 
automated support for the examination, evaluation, documentation, 
and renovation of existing software.  It is the software 
industry's solution to the growing mountain of legacy systems that 
form a maintenance backlog which, for many organizations, is 
stealing precious resources away from new development needed to 
meet changing business requirements.  Re-engineering is the 
combination of reverse engineering and redevelopment.

The Reverse Engineering Forum is a working meeting on industrial 
applications and research on software technology for understanding 
existing and legacy systems and maintaining their value as assets 
for organizations.  It is an examination of the current state of 
the art:  learning how to manage such systems effectively, 
capturing their essential design, identifying their structure and 
content, and enabling their renovation to meet the needs of the 
business they are meant to support.

Simply put, the Reverse Engineering Forum is the technical meeting 
of the field.  It is held as much for the speakers to meet 
together and compare notes as it is for attendees to survey the 
state of the art and practice.  It includes presentations by 
experienced users, tools developers, and industrial and academic 
researchers, describing the current state and directions of 
products, prototypes, and approaches.  A major focus of the Forum 
is to allow ample opportunity for one-on-one and group discussion 
among presenters and attendees.

The Reverse Engineering Forum is presented in conjunction with the 
Reverse Engineering Subcommittee of the IEEE Technical Committee 
on Software Engineering (TCSE).  The Reverse Engineering 
Subcommittee, formed at last year's Forum and now nearly 500 
members worldwide, will hold its general meeting at this year's 
Forum.  The Subcommittee is chaired by Dr. James Cross II of 
Auburn University (email cross@eng.auburn.edu, (205) 844-4330).

The 3rd Reverse Engineering Forum is hosted by Northeastern 
University's Department of Industrial Engineering and Information 
Systems, Boston, Massachusetts.

Cooperating organizations include: Boston Computer Society's CASE 
SIG, Washington University CSDP [St. Louis], International 
Workshop on CASE (IWCASE), Software Management News.

========================= FORUM PROGRAM ==========================

Forum Chair:
Elliot Chikofsky - Northeastern University & Progress Software

Keynote:
Nicholas Zvegintzov  -  Software Management News


Special Talks:

The Design Record: Keystone of Software Engineering
John Salasin  -  Software Engineering Institute

Making Slice Technology Work in Practice
Thomas McCabe  -  McCabe and Associates

An Industrial Perspective on the Use of Knowledge Based Software 
Engineering for Legacy System 
Modernization and Migration
Philip Newcomb  -  Boeing Computer Services

Extracting Genetic Info. from a Long-Lived Large System
Moisey Lerner  -  Tomin Corporation


Panels and Discussion Round Tables:

Panel: Reverse Engr. Present & Future: Science, Art, or Alchemy?
Chair:  Elliot Chikofsky  -  Northeastern Univ & Progress Software

Reengineering Economics Model 
Chair:  Michael Olsem  -  USAF Software Technology Support Center

Development of DoD Reengineering Strategy
Chairs:  Evan Locke  -  Computer Command and Control
         Michael Olsem  -  USAF Software Technology Support Center

Tower of Babel  --RE-visiting the IEEE Software Taxonomy
Chairs:   Elliot Chikofsky  -  Northeastern Univ. & Progress
          James H. Cross II  -  Auburn University

The Role of Standards in Maintenance and Re(verse) Engineering 
Chair:  John Horch  -  The Horch Company & IEEE-CS Software 
           Engineering Standards Subcommittee (SESS)


Technical Presentations:

Aesthetic Graph Layout for Program Understanding
V. Rao Vemuri  -  University of California at Davis
J. Smart  -  Lawrence Livermore Labs.

An Aggressive Approach to Software Reengineering
Lawrence Markosian  -  Reasoning Systems

An Automated Methodology for Identifying and Naming Data Objects
Duncan Connall  -  Global Software

Automated Recovery of the Operational Design Description for an 
Embedded Software System
Norman Young  -  University of Waterloo (Canada)

Automatic Data Cliche Recognition in Source Code
Joyce Leslie  -  Bell Communications Research

Code Archeology: Extracting Documentation for Business and 
Processing Rules from Existing Programs
Aaron Hanks  -  Mutual of Omaha

Comparison of Approaches to Design Recovery
Arun Lakhotia  -  University of Southwestern Louisiana

Developing and Applying a Tool Classification Scheme and 
Evaluation Criteria for Reverse Engineering 
and Re-Engineering Tools
David Sharon  -  CASE Associates

Developing a JOVIAL Reverse Engineering Tool Set
Michael Olsem  -  USAF Software Technology Support Center

Distributed Debugging Using a Rev. Engineering Tool
Thomas Kunz  -  Technical University Darmstadt (Germany)
David Taylor  -  University of Waterloo (Canada)

GRASP/Ada: Reverse Engineering Tools for Ada
James H. Cross II  -  Auburn University
Keith Shackelford  -  MSFC/NASA

Hewlett-Packard's Software Maintenance Initiative
John Alderete  -  Hewlett-Packard Company

Incremental Recovery of Software Assets
Robert  S. Arnold  -  Software Evolution Technology

Payoff of Reverse Engineering into an Open Repository
Hasan Sayani  -  Advanced Systems Technology Corp.

Practical Difficulties in Developing Automated Tools for Analysis 
of Large Application Systems
Tony Cahill  -  University of Limerick (Ireland)

Quality Assurance & System Enhancement via Software Rev. 
Engineering Technology
Sukesh Patel  -  Lockheed Software Technology Center

Recovering the Implicit Reusable Objects from a 
Non-Object Oriented Implementation
Thomas Pole  -  EVB Software Engineering

Redevelopment and Reverse Engineering
Alan A. Kortesoja  -  Ernst & Young

Reuse of Design Level Info. from Existing Applications
Barbara Bersack  -  Hypersoft Corporation

Reverse Engineering:  The Possibility of Designing Businesses
Corrine Brandi  -  Strategic Systems Technology

Reverse Engineering & 3rd Party Software Maintenance
Anne Anderson  -  Hewlett-Packard Company

Reverse Engineering Large COBOL Applications
Michael R. Heiberg  -  CGI Systems

Reverse Engineering of Large Systems (JOVIAL, CMS-2)
Rich Hammond  -  GE Corporate Research & Dev. Center

Software Re-Engineering Environment
Noah Prywes  -  Computer Command and Control Company

Software Re-engineering & The Methodology Gap
William M. Ulrich  -  Tactical Strategy Group

Spatial and Visual Representations of Software Structures: A Model 
for Reverse Engineering
Scott R. Tilley  -  University of Victoria (Canada)

Survey and Analysis of Business Rule Extraction Techniques
Phil Glasier, Charles Butler, Jon D. Clark  -  Colorado State 
Univ.

Because of the meeting's format as a central Forum for active 
reverse engineering work, additional presentations on timely 
topics in the field will continue to be added through the 
beginning of September.  The Forum's technical program is under 
the direction of the Reverse Engineering Subcommittee of the IEEE 
Computer Society's Technical Comm. on Software Engineering (TCSE).

========================= TUTORIALS ==========================

Tutorials:

Introduction to Reverse Engineering of Software & Data
Elliot Chikofsky  -  Northeastern University & Progress Software
Monday, September 14  -  1:00 pm to 5:00 pm

An overview of the concepts and technology of reverse engineering 
intended to provide background that will enhance what you get out 
of Forum technical presentations.  Topics include:  relationship 
between reverse and re- engineering, manual and automated 
approaches, direction and issues of the field, enabling strategic 
realignment.

Elliot Chikofsky is chair of IEEE's Technical Committee on 
Software Engineering and is secretary of the Reverse Engineering 
Subcommittee.  He co-authored the January 1990 taxonomy of reverse 
engineering and design recovery in IEEE Software.  He is a 
development director at Progress Software and lecturer at 
Northeastern University.


Reverse Engineering's Role in a System Replacement Initiative
William M. Ulrich  -  Tactical Strategy Group
Tuesday, September 15  -  8:30 am to 12:30 pm

System replacement initiatives continue to deliver less and cost 
more.  Defining target technologies and strategic architectures is 
key, but so is identifying a migration path to achieve them.  Can 
reverse engineering help MIS chart a new course and allow 
organizations to deliver high impact systems quickly and 
effectively?  Topics in this tutorial:  defining the problem, 
charting a replacement strategy,  role of reverse engineering in 
the info. planning process,  preparing systems for 
'transformation', support for the 're-development' process.
William Ulrich is well-known as a leading advocate of techniques 
for applying reverse engineering and re-engineering technology.  
He is principal of the Tactical Strategy Group consulting firm, 
based  in Aptos, CA.

========================= TOOLS FAIR ==========================

Table-top Tools Fair:

The Forum will also host a Table-Top Tools Fair of reverse 
engineering, re-engineering, and CASE tools.  This is your 
opportunity to see detailed demonstrations and discuss tool 
capabilities in detail with technical representatives of vendors.

On Wednesday evening, September 16, the Forum will host a joint 
meeting of Boston area software-related societies in conjunction 
with the tools fair.

For information on exhibiting, contact: Judith Marx Golub of 
Software Management News at 415-969-5522, fax 415-969-5949, email 
73670.2227@compuserve.com.  Space is limited. 

========================= LOGISTICS ==========================

Travel & Lodging:

The Forum will be held at Northeastern University's suburban 
campus in Burlington, MA at Exit 33 of Interstate 95 (Route 128), 
approx. 16 miles from Boston's Logan Airport.

American Airlines is the official airline for the Reverse
Engineering Forum.  Call 1-800-433-1790 and refer to 
STAR File # S 0292AM for discounts, or see your travel agent.

For special rates at three local Burlington hotels, make your 
reservation under the "Reverse Engineering Forum" group:. 
- Burl. Marriott ($115 sngl/dbl, 617-229-6565, fax 617-229-7973)
- Days Inn ($65 single/double, 617-272-8800, fax 617-270-9834)
- Howard Johnson ($45, 617-272-6550, fax 617-229-8164)
Rates subject to availability and taxes.  Book by August 30.

>From Logan Airport (Boston):
By car:  Sumner tunnel to Boston ($1), left lane in tunnel.  
Up ramp to I-93 North.  Take center lane and bear left at end of 
"the Merge" (metal bridge) 1 mile after tunnel.  Continue North to 
I-95/Rte.128 South exit.  Proceed South to Exit 33.
By taxi:  Flat rate from Logan Airport, any regular taxicab, 
$40.70 + $1 tunnel + tip.

============================ REGISTRATION ========================

                    3rd Reverse Engineering Forum
                         September 15-17, 1992
                 Northeastern University, Burlington, MA

                           Registration Form

Please print or type

Name: ____________________________________________________________

Company: _________________________________________________________

Address: _________________________________________________________

         _________________________________________________________

Email address: ___________________________________________________

Telephone: ________________________  Fax:_________________________

Member Number*: __________________________________________________

*If you are a member/subscriber of one of these organizations, 
please give us your member number to qualify for the member rate:  
IEEE or IEEE Computer Society, Intl. Workshop on CASE, 
Boston Computer Society, Software Maintenance News.


Registration fee:   Before Sept 8   After Sept 8

  Member (see above)     $375           $425
  Non-member             $425           $475      ________________

  Tutorials     One      $100           $125
                Both     $175           $200      ________________

                                            Total:________________

If only one Tutorial, please specify:
   9/14 pm - Intro to Reverse Engirg S/w [Chikofsky] _______
   9/15 am - RE's Role/Syst Repl Initiative [Ulrich] _______

Enclose payment with your registration, checks payable to Reverse 
Engineering Forum.  Sorry, we can not accept credit cards.  
Corporate and government purchase orders accepted at "After Sept 
8" rate.  Early registration is advised.  Space is limited.

Return this form and payment to:
Reverse Engineering Forum, P.O. Box 400, Burlington, MA 01803  USA

====================== FOR MORE INFORMATION ======================

For further information, contact Elliot Chikofsky by phone (617) 
280-4560, email e.chikofsky@compmail.com., or at the address 
below.

The 3rd Reverse Engineering Forum is hosted by:
Northeastern University
Dept of Industrial Engineering & Information Systems
Dr. Stuart J. Deutsch, Chair
Snell Engineering Center,  360 Huntington Avenue
Boston, MA 02115   phone (617) 437-2740, fax (617) 437-2501

< end of announcement >

