
wap MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&New", 101
		MENUITEM "&Open", 102
		MENUITEM "&Close", 103
		MENUITEM "&Save", 104
		MENUITEM "Save &as...", 105
		MENUITEM SEPARATOR
		MENUITEM "E&xit", 106
	END

	POPUP "&Help"
	BEGIN
		MENUITEM "&Help", 201
		MENUITEM SEPARATOR
		MENUITEM "&About", 202
	END
END

