<mail>                                          mailbox.pst
<junk>                                          jnk.pst
alt.hackers                                     0.pst
alt.sources                                     1.pst
alt.sources.amiga                               2.pst
alt.sources.d                                   3.pst
alt.sources.index                               4.pst
alt.sources.patches                             5.pst
alt.sources.wanted                              6.pst
bit.listserv.infonets                           44.pst
biz.comp.telebit                                45.pst
biz.jobs.offered                                46.pst
biz.sco.sources                                 47.pst
comp.binaries.ibm.pc                            48.pst
comp.binaries.ibm.pc.archives                   49.pst
comp.binaries.ibm.pc.d                          50.pst
comp.compilers                                  51.pst
comp.lang.c++                                   52.pst
comp.lang.forth                                 53.pst
comp.os.386bsd                                  54.pst
comp.os.386bsd.apps                             55.pst
comp.os.386bsd.bugs                             56.pst
comp.os.386bsd.development                      57.pst
comp.os.386bsd.misc                             58.pst
comp.os.386bsd.questions                        59.pst
comp.sources.games                              60.pst
comp.sources.testers                            61.pst
comp.sources.unix                               62.pst
comp.unix.bsd                                   63.pst
comp.unix.dos-under-unix                        64.pst
comp.unix.internals                             65.pst
comp.unix.misc                                  66.pst
comp.unix.pc-clone.16bit                        67.pst
comp.unix.programmer                            68.pst
comp.unix.wizards                               69.pst
comp.unix.xenix.sco                             70.pst
cs-gated.lists                                  71.pst
cs-gated.lists.386bsd                           72.pst
cs-gated.lists.natodata                         73.pst
cs-gated.lists.pcbuild                          74.pst
cs-gated.lists.snews                            75.pst
cs-gated.lists.tuucp                            76.pst
cs-gated.lists.ukraine                          77.pst
cs.audit                                        78.pst
cs.general                                      79.pst
cs.lists.pcbuild                                80.pst
cs.lists.ukraine                                81.pst
cs.log                                          82.pst
cs.maps                                         83.pst
cs.maps                                         84.pst
cs.nodes                                        85.pst
cs.postmasters                                  86.pst
cs.softw                                        87.pst
cs.test                                         88.pst
cs.users                                        89.pst
eunet.bugs.4bsd                                 90.pst
eunet.europen                                   91.pst
eunet.general                                   92.pst
eunet.misc                                      93.pst
eunet.news                                      94.pst
eunet.works                                     95.pst
fido.r46.b.buy                                  96.pst
fido.r46.b.sale                                 97.pst
fido.su.c_cpp                                   98.pst
fido.su.civil_law                               99.pst
fido.su.forth                                   100.pst
fido.su.graphics                                101.pst
fido.su.hardw                                   102.pst
fido.su.softw                                   103.pst
fido7.kiev.fileecho                             104.pst
fido7.kiev.friends                              105.pst
fido7.kiev.talks                                106.pst
gnu.g++                                         107.pst
gnu.g++.announce                                108.pst
gnu.g++.bug                                     109.pst
gnu.g++.help                                    110.pst
gnu.g++.lib.bug                                 111.pst
hot                                             112.pst
hot.test                                        113.pst
junk                                            114.pst
news.announce.newusers                          115.pst
news.lists                                      116.pst
radio_text                                      117.pst
rec.humor                                       118.pst
rec.humor.d                                     119.pst
rec.humor.funny                                 120.pst
rec.humor.oracle                                121.pst
rec.humor.oracle.d                              122.pst
relcom.ads                                      123.pst
relcom.ads.comp                                 124.pst
relcom.archives                                 125.pst
relcom.archives.d                               126.pst
relcom.bbs                                      127.pst
relcom.commerce.audio-video                     128.pst
relcom.commerce.chemical                        129.pst
relcom.commerce.computers                       130.pst
relcom.commerce.construction                    131.pst
relcom.commerce.consume                         132.pst
relcom.commerce.energy                          133.pst
relcom.commerce.estate                          134.pst
relcom.commerce.food                            135.pst
relcom.commerce.food.drinks                     136.pst
relcom.commerce.food.sweet                      137.pst
relcom.commerce.household                       138.pst
relcom.commerce.infoserv                        139.pst
relcom.commerce.jobs                            140.pst
relcom.commerce.machinery                       141.pst
relcom.commerce.medicine                        142.pst
relcom.commerce.metals                          143.pst
relcom.commerce.money                           144.pst
relcom.commerce.orgtech                         145.pst
relcom.commerce.other                           146.pst
relcom.commerce.software                        147.pst
relcom.commerce.stocks                          148.pst
relcom.commerce.talk                            149.pst
relcom.commerce.tobacco                         150.pst
relcom.commerce.tour                            151.pst
relcom.commerce.transport                       152.pst
relcom.comp.binaries                            153.pst
relcom.comp.lang.pascal                         154.pst
relcom.comp.os.os2                              155.pst
relcom.comp.os.vms                              156.pst
relcom.comp.os.windows                          157.pst
relcom.comp.os.windows.prog                     158.pst
relcom.demos.ads                                159.pst
relcom.demos.commerce                           160.pst
relcom.exnet                                    161.pst
relcom.exnet.quote                              162.pst
relcom.fido.flirt                               163.pst
relcom.fido.ru.fax                              164.pst
relcom.fido.ru.hacker                           165.pst
relcom.fido.ru.modem                            166.pst
relcom.fido.ru.networks                         167.pst
relcom.fido.ru.strack                           168.pst
relcom.fido.ru.unix                             169.pst
relcom.fido.su.books                            170.pst
relcom.fido.su.c-c++                            171.pst
relcom.fido.su.dbms                             172.pst
relcom.fido.su.general                          173.pst
relcom.fido.su.hardw                            174.pst
relcom.fido.su.magic                            175.pst
relcom.fido.su.softw                            176.pst
relcom.fido.su.tolkien                          177.pst
relcom.fido.su.virus                            178.pst
relcom.fido.su.windows                          179.pst
relcom.fido.su.windows.prog                     180.pst
relcom.fido.testing                             181.pst
relcom.games                                    182.pst
relcom.humor                                    183.pst
relcom.infomarket.quote                         184.pst
relcom.infomarket.talk                          185.pst
relcom.jusinf                                   186.pst
relcom.kids                                     187.pst
relcom.lan                                      188.pst
relcom.maps                                     189.pst
relcom.msdos                                    190.pst
relcom.music                                    191.pst
relcom.netnews                                  192.pst
relcom.netnews.big                              193.pst
relcom.newusers                                 194.pst
relcom.penpals                                  195.pst
relcom.politics                                 196.pst
relcom.postmasters                              197.pst
relcom.postmasters.d                            198.pst
relcom.relarn.general                           199.pst
relcom.renews                                   200.pst
relcom.rferl                                    201.pst
relcom.sources                                  202.pst
relcom.spbnews                                  203.pst
relcom.talk                                     204.pst
relcom.tcpip                                    205.pst
relcom.terms                                    206.pst
relcom.test                                     207.pst
relcom.wtc                                      208.pst
relcom.x                                        209.pst
saphire.fido.ai.prolog-lisp                     210.pst
saphire.fido.desqview                           211.pst
saphire.fido.kiev.anecdot                       212.pst
saphire.fido.kiev.fileecho                      213.pst
saphire.fido.kiev.friends                       214.pst
saphire.fido.kiev.talks                         215.pst
saphire.fido.r46.b.buy                          216.pst
saphire.fido.r46.b.sale                         217.pst
saphire.fido.ru.modem                           218.pst
saphire.fido.ru.networks                        219.pst
saphire.fido.su.books                           220.pst
saphire.fido.su.business                        221.pst
saphire.fido.su.civil_law                       222.pst
saphire.fido.su.dbms                            223.pst
saphire.fido.su.hitech                          224.pst
saphire.fido.su.humor                           225.pst
saphire.fido.su.mtask                           226.pst
saphire.fido.su.net                             227.pst
saphire.fido.su.os2                             228.pst
saphire.fido.su.windows                         229.pst
saphire.fido.ua.business                        230.pst
saphire.internal                                231.pst
saphire.test                                    232.pst
saphire.users                                   233.pst
sci.comp-aided                                  234.pst
softpan                                         235.pst
softpan.official                                236.pst
softpan.talks                                   237.pst
softpan.test                                    238.pst
uanet.general                                   239.pst
ukr.binf                                        240.pst
ukr.binf                                        241.pst
ukr.commerce.chemical                           242.pst
ukr.commerce.energy                             243.pst
ukr.commerce.food                               244.pst
ukr.commerce.machinery                          245.pst
ukr.commerce.metals                             246.pst
ukr.commerce.misc                               247.pst
ukr.commerce.orgtech                            248.pst
ukr.commerce.price-lists                        249.pst
ukr.commerce.talk                               250.pst
ukr.comp.newprods                               251.pst
ukr.dilo.arts                                   252.pst
ukr.dilo.law                                    253.pst
ukr.dilo.market                                 254.pst
ukr.dilo.marketnews                             255.pst
ukr.dilo.money                                  256.pst
ukr.finance                                     257.pst
ukr.gc.chronical                                258.pst
ukr.gc.normativ                                 259.pst
ukr.law                                         260.pst
ukr.maps                                        261.pst
ukr.netnews                                     262.pst
ukr.nodes                                       263.pst
ukr.politics                                    264.pst
ukr.test                                        265.pst
uuug                                            266.pst
uuug.general                                    267.pst
uuug.ok                                         268.pst
uuug.org                                        269.pst
