/****************************************************************** CATALA.RC
 *                                                                          *
 *  System Resources monitor resource definition file (Catal n) 	    *
 *                                                                          *
 ****************************************************************************/

#define INCL_PM
#define INCL_WINSTDSPIN
#include <os2.h>

#include "memsize.h"

/****************************************************************************
 * Months: Gener, Febrer, Mar‡, Abril, Maig, Juni,			    *
 * Juliol, Agost, Setembre, Octubre, Novembre, Desembre.		    *
 ****************************************************************************/

DLGTEMPLATE IDD_ABOUT
{
  DIALOG "", 0, 32, 32, 200, 100, FS_DLGBORDER
  {
    CTEXT "Recursos del Sistema OS/2 2.12"	   -1, 10, 80, 180,  8
    CTEXT "13 octubre 1993"			   -1, 10, 72, 180,  8
    ICON ID_MAIN                                   -1,  8, 72,   0,  0
    CTEXT "Mostrar els recursos del sistema OS/2"  -1, 10, 56, 180,  8
    CTEXT "(C) Richard Papo, 1991-1993" 	   -1, 10, 48, 180,  8
    CTEXT "CompuServe 72607,3111"                  -1, 10, 40, 180,  8
    CTEXT "Versi¢ en catal…"                       -1, 10, 32, 180,  8
    DEFPUSHBUTTON "OK"               DID_OK, 80,  8,  40, 16, WS_GROUP
  }
}

DLGTEMPLATE IDD_PROFILE_PATH
{
  DIALOG "Indicar el directori del fixter INI...", 0, 50, 100, 300, 60, FS_DLGBORDER, FCF_DLGBORDER | FCF_TITLEBAR
  {
    LTEXT "Escriure el directori complet (incloent-hi la unitat de disc)",-1, 8, 48, 284, 8
    LTEXT "del directori on s'ha de guardar el fixter .INI",		  -1, 8, 40, 284, 8
    ENTRYFIELD "",	      IDD_PROF_ENTRY,	    8, 28, 280,  8, ES_MARGIN
    DEFPUSHBUTTON "OK"	      DID_OK,		    8, 10,  32, 12, WS_GROUP
    CONTROL "Cancelúlar"      DID_CANCEL,	   44, 10,  64, 12, WC_BUTTON, WS_VISIBLE | BS_PUSHBUTTON
    CONTROL "Ajuda"	      -1,		  112, 10,  52, 12, WC_BUTTON, WS_VISIBLE | BS_PUSHBUTTON | BS_HELP
    CTEXT "",		      IDD_PROF_ERR,	    8,	2, 280,  8
    PRESPARAMS PP_FOREGROUNDCOLOR, 0x00FF0000
  }
}

DLGTEMPLATE IDD_CONFIGURE
{
  DIALOG "Configuraci¢", 0, 8, 8, 232, 140
    FS_DLGBORDER, FCF_DLGBORDER | FCF_TITLEBAR
  {
    LTEXT "Elements a mostrar", 			     -1,   8, 128, 212,  8
    LISTBOX				       IDD_CONFIG_ITEMS,   8,  50, 212, 76, LS_MULTIPLESEL | LS_HORZSCROLL

    AUTOCHECKBOX "Amagar els controls", IDD_CONFIG_HIDECONTROLS,   8,  36, 110, 10
    AUTOCHECKBOX "Restar en primer pla",       IDD_CONFIG_FLOAT, 118,  36, 110, 10

    LTEXT "Interval d'actualitzaci¢",			     -1,   8,  26, 150,  8
    LTEXT "(segons x0.1)",				     -1,   8,  18, 150,  8
    CONTROL "", 			       IDD_CONFIG_TIMER, 162,  20,  58,  8,
      WC_SPINBUTTON,
      WS_TABSTOP | WS_VISIBLE | SPBS_MASTER | SPBS_JUSTRIGHT | SPBS_NUMERICONLY | SPBS_FASTSPIN | SPBS_READONLY

    DEFPUSHBUTTON "OK",       DID_OK,  8,  4, 32, 12, WS_GROUP
    CONTROL "Cancelúlar", DID_CANCEL, 44,  4, 64, 12, WC_BUTTON,
      WS_VISIBLE | BS_PUSHBUTTON
    CONTROL "Ajuda",		  -1,112,  4, 52, 12, WC_BUTTON,
      WS_VISIBLE | BS_PUSHBUTTON | BS_HELP
  }
}


STRINGTABLE
{
  IDS_HELPTITLE                "Ajuda per a Recursos del Sistema OS/2"
  IDS_TITLE                    "Recursos"

  IDS_SAVE_APPLICATION         "Guardar configuraci¢\tF2"
  IDS_RESET_DEFAULTS           "Restaurar els valors per defecte"
  IDS_HIDE_CONTROLS	       "Amagar els controls\tAlt+H"
  IDS_CONFIGURE 	       "Configuraci¢...\tAlt+C"
  IDS_ABOUT		       "Autor..."
  IDS_HELP		       "Ajuda\tF1"

  IDS_SHOW_CLOCK_LABEL         "Data/Hora"
  IDS_SHOW_CLOCK_OPTION        "Mostrar la Data/Hora"

  IDS_SHOW_ELAPSED_LABEL       "Temps transcorregut"
  IDS_SHOW_ELAPSED_OPTION      "Mostrar el temps transcorregut"

  IDS_SHOW_MEMORY_LABEL        "Mem•ria lliure"
  IDS_SHOW_MEMORY_OPTION       "Mostrar la mem•ria lliure"

  IDS_SHOW_SWAPSIZE_LABEL      "Tamany del fitxer d'intercanvi"
  IDS_SHOW_SWAPSIZE_OPTION     "Mostrar el tamany del fitxer d'intercanvi"

  IDS_SHOW_SWAPFREE_LABEL      "Espai disponible pel fitxer d'intercanvi"
  IDS_SHOW_SWAPFREE_OPTION     "Mostrar l'espai disponible pel fitxer d'intercanvi"

  IDS_SHOW_SPOOLSIZE_LABEL     "Tamany de l'spooler de la impressora"
  IDS_SHOW_SPOOLSIZE_OPTION    "Mostrar el tamany de l'spooler de la impressora"

  IDS_SHOW_CPULOAD_LABEL       "Percentatge d'£s"
  IDS_SHOW_CPULOAD_OPTION      "Mostrar el percentatge d'£s"

  IDS_SHOW_TASKCOUNT_LABEL     "N£mero de tasques actives"
  IDS_SHOW_TASKCOUNT_OPTION    "Mostrar el n£mero de tasques actives"

  IDS_SHOW_TOTALFREE_LABEL     "Espai lliure total"
  IDS_SHOW_TOTALFREE_OPTION    "Mostrar l'espai lliure total"

  IDS_SHOW_DRIVE_FREE_LABEL    "Espai lliure a la unitat %c: (%s)"
  IDS_SHOW_DRIVE_FREE_OPTION   "Mostrar l'espai lliure a la unitat %c:"

  IDS_DRIVEERROR	       "ERROR"

  IDS_PARAMETERLIST            "Par…metres inicials v…lids:\n"
                               "  RESTAURAR: Restaura els valors per defecte del programa."

  IDS_PARMS_RESET              "RESTAURAR"

  IDS_ERROR_INVALIDPARM            "ERROR: Par…metre inicial no v…lid '%s'."
  IDS_ERROR_PRFOPENPROFILE	   "ERROR: No ‚s possible obrir el fitxer .INI."
  IDS_ERROR_WINCREATEHELPINSTANCE  "ERROR: No es pot crear la inst…ncia de l'ajuda."
  IDS_ERROR_WINCREATEFRAME         "ERROR: No es pot crear el marc de la finestra."
  IDS_ERROR_WINREGISTERCLASS       "ERROR: No es pot registrar la classe de la finestra."
  IDS_ERROR_WINCREATEWINDOW        "ERROR: No es pot crear la finestra client."
  IDS_ERROR_DOSGETCTRYINFO         "Error a la funci¢ 'DosGetCtryInfo'. Estat=%d."

  IDS_DAY			   "dia"
  IDS_DAYS			   "dies"
  IDS_DAYSOFWEEK		   "DLLDMADMEDIJDIVDISDMG"
}

STRINGTABLE
{
  IDS_HMERR                         "Error del Gestor d'ajudes"
  IDS_HMERR_EXTHELPUNDEFINED        "Ajuda extesa no definida."
  IDS_HMERR_NO_FRAME_WND_IN_CHAIN   "No es troba una finestra del tipus 'marc' a la cadena."
  IDS_HMERR_INVALID_ASSOC_APP_WND   "Handle de finestra associada no v…lid."
  IDS_HMERR_INVALID_ASSOC_HELP_IN   "Handle d'inst…ncia de l'ajuda associada no v…lid."
  IDS_HMERR_INVALID_DESTROY_HELP_   "Handle de dissoaci¢ no v…lid."
  IDS_HMERR_NO_HELP_INST_IN_CHAIN   "No s'ha trobat inst…ncia d'ajuda a la cadena de finestres."
  IDS_HMERR_INVALID_HELP_INSTANCE   "Handle d'inst…ncia d'ajuda no v…lid."
  IDS_HMERR_INVALID_QUERY_APP_WND   "Handle de la finestra de l'aplicaci¢ no v…lid."
  IDS_HMERR_HELP_INST_CALLED_INVA   "La inst…ncia de l'ajuda declarada no ‚s v…lida."
  IDS_HMERR_HELPTABLE_UNDEFINE      "Taula de l'ajuda no definida."
  IDS_HMERR_HELP_INSTANCE_UNDEFIN   "Inst…ncia de l'ajuda no definida."
  IDS_HMERR_HELPITEM_NOT_FOUND      "T•pic de l'ajuda no trobat."
  IDS_HMERR_INVALID_HELPSUBITEM_S   "Tamany del subt•pic de l'ajuda no v…lid."
  IDS_HMERR_HELPSUBITEM_NOT_FOUND   "Subt•pico de l'ajuda no trobad."
  IDS_HMERR_INDEX_NOT_FOUND         "El fitxer de l'ajuda no cont‚ l'¡ndex."
  IDS_HMERR_CONTENT_NOT_FOUND       "El fitxer de l'ajuda no cont‚ la taula de continguts."
  IDS_HMERR_OPEN_LIB_FILE           "No s'ha pogut obrir el fitxer de l'ajuda."
  IDS_HMERR_READ_LIB_FILE           "No es pot llegir el fitxer de l'ajuda."
  IDS_HMERR_CLOSE_LIB_FILE          "No es pot tancar el fitxer de l'ajuda."
  IDS_HMERR_INVALID_LIB_FILE        "El fitxer de l'ajuda est… en un format no v…lid."
  IDS_HMERR_NO_MEMORY               "No hi ha prou mem•ria!"
  IDS_HMERR_ALLOCATE_SEGMENT        "No es pot assignar mem•ria."
  IDS_HMERR_FREE_MEMORY             "No se pot alliberar la mem•ria."
  IDS_HMERR_PANEL_NOT_FOUND         "No es troba el plaf¢ de l'ajuda."
  IDS_HMERR_DATABASE_NOT_OPEN       "El fitxer de l'ajuda no est… obert."
  IDS_HMERR_UNKNOWN                 "--- Error Desconegut ---"
  IDS_HELPMODE_FRAME                "Marc"
  IDS_HELPMODE_MENU                 "Men£"
  IDS_HELPMODE_WINDOW               "Finestra"
  IDS_HELPMODE_UNKNOWN              "Desconegut"
  IDS_HELPSUBITEMNOTFOUND           "Subt•pic d'ajuda no trobat:\n"
                                    "Mode='%s'\n"
                                    "T•pic=%u\n"
                                    "Subt•pic=%u"
}



