/***************************************************************** DEUTSCH.RC
 *                                                                          *
 *       Resourcendefinitionsdatei fÅr `Systemresourcen'                    *
 *                                                                          *
 ****************************************************************************/

#define INCL_PM
#define INCL_WINSTDSPIN
#include <os2.h>

#include "memsize.h"


/****************************************************************************
 * Months: Januar, Februar, MÑrz, April, Mai, Juni,                         *
 * Juli, August, September, Oktober, November, Dezember.                    *
 ****************************************************************************/

DLGTEMPLATE IDD_ABOUT
{
  DIALOG "", 0, 32, 32, 200, 100, FS_DLGBORDER
  {
    CTEXT "Systemresourcen 2.13"		    -1, 10, 80, 180,  8
    CTEXT "13 Oktober 1993"			    -1, 10, 72, 180,  8
    ICON ID_MAIN                                    -1,  8, 72,   0,  0
    CTEXT "OS/2 Systemresourcen-Monitor"            -1, 10, 56, 180,  8
    CTEXT "Copyright (C) Richard Papo, 1991-1993"   -1, 10, 48, 180,  8
    CTEXT "CompuServe 72607,3111"                   -1, 10, 40, 180,  8
    CTEXT "Deutsche öbersetzung Herbert Klaeren"    -1, 10, 32, 180,  8
    DEFPUSHBUTTON "OK"                          DID_OK, 80,  8,  40, 16, WS_GROUP
  }
}


DLGTEMPLATE IDD_PROFILE_PATH
{
  DIALOG "Initalisierungspfad setzen", 0, 50, 100, 320, 60, FS_DLGBORDER, FCF_DLGBORDER | FCF_TITLEBAR
  {
    LTEXT "Geben Sie den vollen Pfad (inklusive Laufwerk) des Verzeichnisses",-1, 8, 48, 304, 8
    LTEXT "ein, wo die Initialisierungsdatei (INI) aufgehoben wird.",	      -1, 8, 40, 304, 8
    ENTRYFIELD "",            IDD_PROF_ENTRY,       8, 28, 300,  8, ES_MARGIN
    DEFPUSHBUTTON "OK"        DID_OK,               8, 10,  32, 12, WS_GROUP
    CONTROL "ESC=Abbruch"     DID_CANCEL,	   44, 10,  64, 12, WC_BUTTON, WS_VISIBLE | BS_PUSHBUTTON
    CONTROL "F1=Hilfe"	      -1,		  112, 10,  52, 12, WC_BUTTON, WS_VISIBLE | BS_PUSHBUTTON | BS_HELP
    CTEXT "",		      IDD_PROF_ERR,	    8,	2, 300,  8
    PRESPARAMS PP_FOREGROUNDCOLOR, 0x00FF0000
  }
}

DLGTEMPLATE IDD_CONFIGURE
{
  DIALOG "Konfiguration", 0, 8, 8, 192, 140
    FS_DLGBORDER, FCF_DLGBORDER | FCF_TITLEBAR
  {
    LTEXT "Angezeigte Details", 		       -1,   8, 128, 172,  8
    LISTBOX				 IDD_CONFIG_ITEMS,   8,  50, 172, 76, LS_MULTIPLESEL | LS_HORZSCROLL

    AUTOCHECKBOX "Ohne Rahmen",   IDD_CONFIG_HIDECONTROLS,   8,  36,  70, 10
    AUTOCHECKBOX "Immer oberstes Fenster",IDD_CONFIG_FLOAT, 78,  36, 110, 10

    LTEXT "Weckerintervall",			       -1    8,  26, 110,  8
    LTEXT "(Sekunden x0.1)",			       -1,   8,  18, 110,  8
    CONTROL "", 			 IDD_CONFIG_TIMER, 122,  20,  58,  8,
      WC_SPINBUTTON,
      WS_TABSTOP | WS_VISIBLE | SPBS_MASTER | SPBS_JUSTRIGHT | SPBS_NUMERICONLY | SPBS_FASTSPIN | SPBS_READONLY

    DEFPUSHBUTTON "OK",      DID_OK,  8,  4, 32, 12, WS_GROUP
    CONTROL "Abbruch",	 DID_CANCEL, 44,  4, 64, 12, WC_BUTTON,
      WS_VISIBLE | BS_PUSHBUTTON
    CONTROL "Hilfe",		 -1,112,  4, 52, 12, WC_BUTTON,
      WS_VISIBLE | BS_PUSHBUTTON | BS_HELP
  }
}


STRINGTABLE
{
  IDS_HELPTITLE                        "'Systemresourcen' Hilfe"
  IDS_TITLE                            "Systemresourcen"

  IDS_SAVE_APPLICATION                 "Werte speichern\tF2"
  IDS_RESET_DEFAULTS                   "Standardwerte"
  IDS_HIDE_CONTROLS		       "Ohne Rahmen\tAlt+H"
  IDS_CONFIGURE 		       "Konfiguration\tAlt+C"
  IDS_ABOUT                            "Produktinformation"
  IDS_HELP                             "Hilfe\tF1"

  IDS_SHOW_CLOCK_LABEL                 "Datum/Zeit"
  IDS_SHOW_CLOCK_OPTION                "Datum/Zeit zeigen"

  IDS_SHOW_ELAPSED_LABEL               "Abgelaufene Zeit"
  IDS_SHOW_ELAPSED_OPTION              "Abgelaufene Zeit anzeigen"

  IDS_SHOW_MEMORY_LABEL                "Freier Speicher"
  IDS_SHOW_MEMORY_OPTION               "Freien Speicher zeigen"

  IDS_SHOW_SWAPSIZE_LABEL              "Swap-Grî·e"
  IDS_SHOW_SWAPSIZE_OPTION             "Swap-Grî·e zeigen"

  IDS_SHOW_SWAPFREE_LABEL              "Freier Swap-Platz"
  IDS_SHOW_SWAPFREE_OPTION             "Freien Swap-Platz zeigen"

  IDS_SHOW_SPOOLSIZE_LABEL             "Spool-Grî·e"
  IDS_SHOW_SPOOLSIZE_OPTION            "Spool-Grî·e zeigen"

  IDS_SHOW_CPULOAD_LABEL               "CPU-Last"
  IDS_SHOW_CPULOAD_OPTION              "CPU-Last zeigen"

  IDS_SHOW_TASKCOUNT_LABEL             "Anzahl aktiver Tasks"
  IDS_SHOW_TASKCOUNT_OPTION            "Anzahl aktiver Tasks zeigen"

  IDS_SHOW_TOTALFREE_LABEL	       "Insgesamt freier Plattenplatz"
  IDS_SHOW_TOTALFREE_OPTION	       "Insgesamt freien Platz zeigen"

  IDS_SHOW_DRIVE_FREE_LABEL            "Auf Laufwerk %c: frei (%s)"
  IDS_SHOW_DRIVE_FREE_OPTION           "Freien Platz auf Laufwerk %c: zeigen"

  IDS_DRIVEERROR                       "FEHLER"

  IDS_PARAMETERLIST                    "GÅltige Startparameter:\n"
                                       "  RESET: Profil vor Start zurÅcksetzen."

  IDS_PARMS_RESET                      "RESET"

  IDS_ERROR_INVALIDPARM                "FEHLER: UngÅltiger Startparameter '%s'."
  IDS_ERROR_PRFOPENPROFILE             "FEHLER: Initialisierungsdatei kann nicht erîffnet werden."
  IDS_ERROR_WINCREATEHELPINSTANCE      "FEHLER: Hilfe-Instanz kann nicht angelegt werden."
  IDS_ERROR_WINCREATEFRAME             "FEHLER: Kann das Rahmenfenster nicht anlegen."
  IDS_ERROR_WINREGISTERCLASS           "FEHLER: Fensterklasse kann nicht angemeldet werden."
  IDS_ERROR_WINCREATEWINDOW            "FEHLER: Kann das Klientenfenster nicht anlegen."
  IDS_ERROR_DOSGETCTRYINFO             "DosGetCtryInfo fehlgeschlagen.  Status=%d."

  IDS_DAY                              "Tag"
  IDS_DAYS			       "Tage"
  IDS_DAYSOFWEEK		       "SonMonDieMitDonFreSam"
}

STRINGTABLE
{
  IDS_HMERR                            "Fehler im Hilfe-Manager"
  IDS_HMERR_EXTHELPUNDEFINED           "Erweiterte Hilfe undefiniert."
  IDS_HMERR_NO_FRAME_WND_IN_CHAIN      "Kein Rahmenfenster in der Kette."
  IDS_HMERR_INVALID_ASSOC_APP_WND      "UngÅltige Fensternummer zugeordnet."
  IDS_HMERR_INVALID_ASSOC_HELP_IN      "UngÅltige Hilfe-Instanz zugeordnet."
  IDS_HMERR_INVALID_DESTROY_HELP_      "UngÅltige Fensternummer zur Freigabe."
  IDS_HMERR_NO_HELP_INST_IN_CHAIN      "Keine Hilfe-Instanz in der Fensterkette."
  IDS_HMERR_INVALID_HELP_INSTANCE      "UngÅltige Hilfe-Instanz-Nummer."
  IDS_HMERR_INVALID_QUERY_APP_WND      "UngÅltige Anwendungsfensternummer in der Anfrage."
  IDS_HMERR_HELP_INST_CALLED_INVA      "UngÅltige Hilfe-Instanz aufgerufen."
  IDS_HMERR_HELPTABLE_UNDEFINE         "Hilfe-Tabelle undefiniert."
  IDS_HMERR_HELP_INSTANCE_UNDEFIN      "Hilfe-Instanz undefiniert."
  IDS_HMERR_HELPITEM_NOT_FOUND         "Hilfe-Eintrag nicht gefunden."
  IDS_HMERR_INVALID_HELPSUBITEM_S      "UngÅltige Grî·e des Hilfe-Untereintrags."
  IDS_HMERR_HELPSUBITEM_NOT_FOUND      "Hilfe-Untereintrag nicht gefunden."
  IDS_HMERR_INDEX_NOT_FOUND            "Kein Index in der Bibliotheksdatei."
  IDS_HMERR_CONTENT_NOT_FOUND          "Inhaltsverzeichnis nicht gefunden."
  IDS_HMERR_OPEN_LIB_FILE              "Hilfe-Bibliothek kann nicht geîffnet werden."
  IDS_HMERR_READ_LIB_FILE              "Hilfe-Bibliothek kann nicht gelesen werden."
  IDS_HMERR_CLOSE_LIB_FILE             "Hilfe-Bibliothek kann nicht geschlossen werden."
  IDS_HMERR_INVALID_LIB_FILE           "Hilfe-Bibliothek hat ungÅltiges Format."
  IDS_HMERR_NO_MEMORY                  "Kein Speicher mehr."
  IDS_HMERR_ALLOCATE_SEGMENT           "Segment kann nicht alloziert werden."
  IDS_HMERR_FREE_MEMORY                "Speicher kann nicht freigegeben werden."
  IDS_HMERR_PANEL_NOT_FOUND            "Hilfe-Tafel nicht gefunden."
  IDS_HMERR_DATABASE_NOT_OPEN          "Hilfe-Datenbank nicht offen."
  IDS_HMERR_UNKNOWN                    "--- Unbekannter Fehler ---"
  IDS_HELPMODE_FRAME                   "Rahmen"
  IDS_HELPMODE_MENU                    "MenÅ"
  IDS_HELPMODE_WINDOW                  "Fenster"
  IDS_HELPMODE_UNKNOWN                 "Unbekannt"
  IDS_HELPSUBITEMNOTFOUND              "Hilfe-Untereintrag nicht gefunden:\n"
                                       "Modus='%s'\n"
                                       "Thema=%u\n"
                                       "Unterthema=%u"
}

