/***************************************************************** ENGLISH.RC
 *									    *
 *	 System Resources monitor resource definition file (ENGLISH)	    *
 *									    *
 ****************************************************************************/

#define INCL_PM
#define INCL_WINSTDSPIN
#include <os2.h>

#include "memsize.h"

DLGTEMPLATE IDD_ABOUT
{
  DIALOG "", 0, 32, 32, 200, 100, FS_DLGBORDER
  {
    CTEXT "System Resources 2.12"		    -1, 10, 80, 180,  8
    CTEXT "13 October 1993"			    -1, 10, 72, 180,  8
    ICON ID_MAIN				    -1,  8, 72,   0,  0
    CTEXT "OS/2 System Resource Monitor"	    -1, 10, 56, 180,  8
    CTEXT "Copyright (C) Richard Papo, 1991-1993"   -1, 10, 48, 180,  8
    CTEXT "CompuServe 72607,3111"		    -1, 10, 40, 180,  8
    CTEXT "English Version"                         -1, 10, 32, 180,  8
    DEFPUSHBUTTON "OK"				DID_OK, 80,  8,  40, 16, WS_GROUP
  }
}

DLGTEMPLATE IDD_PROFILE_PATH
{
  DIALOG "Set Profile Path...", 0, 50, 100, 300, 60, FS_DLGBORDER, FCF_DLGBORDER | FCF_TITLEBAR
  {
    LTEXT "Enter the full path (including drive) of the directory",-1, 8, 48, 284, 8
    LTEXT "where the profile (INI) file will be kept.", 	   -1, 8, 40, 284, 8
    ENTRYFIELD "",	      IDD_PROF_ENTRY,	    8, 28, 280,  8, ES_MARGIN
    DEFPUSHBUTTON "OK"	      DID_OK,		    8, 10,  32, 12, WS_GROUP
    CONTROL "Esc=Cancel"      DID_CANCEL,	   44, 10,  64, 12, WC_BUTTON, WS_VISIBLE | BS_PUSHBUTTON
    CONTROL "F1=Help"	      -1,		  112, 10,  52, 12, WC_BUTTON, WS_VISIBLE | BS_PUSHBUTTON | BS_HELP
    CTEXT "",		      IDD_PROF_ERR,	    8,	2, 280,  8
    PRESPARAMS PP_FOREGROUNDCOLOR, 0x00FF0000
  }
}

DLGTEMPLATE IDD_CONFIGURE
{
  DIALOG "Configuration", 0, 8, 8, 192, 140
    FS_DLGBORDER, FCF_DLGBORDER | FCF_TITLEBAR
  {
    LTEXT "Display Items",			       -1,   8, 128, 172,  8
    LISTBOX				 IDD_CONFIG_ITEMS,   8,  50, 172, 76, LS_MULTIPLESEL | LS_HORZSCROLL

    AUTOCHECKBOX "Hide Controls", IDD_CONFIG_HIDECONTROLS,   8,  36, 110, 10
    AUTOCHECKBOX "Float to Top",	 IDD_CONFIG_FLOAT, 118,  36,  70, 10

    LTEXT "Timer interval",			       -1    8,  26, 110,  8
    LTEXT "(seconds x0.1)",			       -1,   8,  18, 110,  8
    CONTROL "", 			 IDD_CONFIG_TIMER, 122,  20,  58,  8,
      WC_SPINBUTTON,
      WS_TABSTOP | WS_VISIBLE | SPBS_MASTER | SPBS_JUSTRIGHT | SPBS_NUMERICONLY | SPBS_FASTSPIN | SPBS_READONLY

    DEFPUSHBUTTON "OK",      DID_OK,  8,  4, 32, 12, WS_GROUP
    CONTROL "Cancel"	 DID_CANCEL, 44,  4, 64, 12, WC_BUTTON,
      WS_VISIBLE | BS_PUSHBUTTON
    CONTROL "Help"		 -1,112,  4, 52, 12, WC_BUTTON,
      WS_VISIBLE | BS_PUSHBUTTON | BS_HELP
  }
}


STRINGTABLE
{
  IDS_HELPTITLE 		       "'System Resources' Help Facility"
  IDS_TITLE			       "System Resources"

  IDS_SAVE_APPLICATION		       "Save Defaults\tF2"
  IDS_RESET_DEFAULTS		       "Reset Defaults"
  IDS_HIDE_CONTROLS		       "Hide Controls\tAlt+H"
  IDS_CONFIGURE 		       "Configure...\tAlt+C"
  IDS_ABOUT			       "About..."
  IDS_HELP			       "Help\tF1"

  IDS_SHOW_CLOCK_LABEL		       "Date/Time"
  IDS_SHOW_CLOCK_OPTION 	       "Show Date/Time"

  IDS_SHOW_ELAPSED_LABEL	       "Elapsed Time"
  IDS_SHOW_ELAPSED_OPTION	       "Show Elapsed Time"

  IDS_SHOW_MEMORY_LABEL 	       "Available memory"
  IDS_SHOW_MEMORY_OPTION	       "Show Memory Free"

  IDS_SHOW_SWAPSIZE_LABEL	       "Swap-file size"
  IDS_SHOW_SWAPSIZE_OPTION	       "Show Swapfile Size"

  IDS_SHOW_SWAPFREE_LABEL	       "Available swap space"
  IDS_SHOW_SWAPFREE_OPTION	       "Show Swap Space Free"

  IDS_SHOW_SPOOLSIZE_LABEL	       "Spool-file size"
  IDS_SHOW_SPOOLSIZE_OPTION	       "Show Spool Size"

  IDS_SHOW_CPULOAD_LABEL	       "CPU Load"
  IDS_SHOW_CPULOAD_OPTION	       "Show CPU Load"

  IDS_SHOW_TASKCOUNT_LABEL	       "Active task count"
  IDS_SHOW_TASKCOUNT_OPTION	       "Show Active Task Count"

  IDS_SHOW_TOTALFREE_LABEL	       "Total free disk space"
  IDS_SHOW_TOTALFREE_OPTION	       "Show Total Free Space"

  IDS_SHOW_DRIVE_FREE_LABEL	       "Drive %c: free space (%s)"
  IDS_SHOW_DRIVE_FREE_OPTION	       "Show %c: Free Space"

  IDS_DRIVEERROR		       "ERROR"

  IDS_PARAMETERLIST		       "Valid startup parameters:\n"
				       "  RESET: Reset profile before starting."

  IDS_PARMS_RESET		       "RESET"

  IDS_ERROR_INVALIDPARM 	       "ERROR: Invalid startup parameter '%s'."
  IDS_ERROR_PRFOPENPROFILE             "ERROR: Unable to open profile file."
  IDS_ERROR_WINCREATEHELPINSTANCE      "ERROR: Unable to create help instance."
  IDS_ERROR_WINCREATEFRAME	       "ERROR: Unable to create frame window."
  IDS_ERROR_WINREGISTERCLASS	       "ERROR: Unable to register window class '%s'."
  IDS_ERROR_WINCREATEWINDOW	       "ERROR: Unable to create client window."
  IDS_ERROR_DOSGETCTRYINFO	       "DosGetCtryInfo call failed.  Status=%d."

  IDS_DAY			       "day"
  IDS_DAYS			       "days"
  IDS_DAYSOFWEEK		       "SunMonTueWedThuFriSat"
}

STRINGTABLE
{
  IDS_HMERR			       "Help Manager Error"
  IDS_HMERR_EXTHELPUNDEFINED	       "Extended help undefined."
  IDS_HMERR_NO_FRAME_WND_IN_CHAIN      "No frame window in chain."
  IDS_HMERR_INVALID_ASSOC_APP_WND      "Invalid window handle associated."
  IDS_HMERR_INVALID_ASSOC_HELP_IN      "Invalid help instance associated."
  IDS_HMERR_INVALID_DESTROY_HELP_      "Invalid window handle to deassociate."
  IDS_HMERR_NO_HELP_INST_IN_CHAIN      "No help instance in window chain."
  IDS_HMERR_INVALID_HELP_INSTANCE      "Invalid help instance handle."
  IDS_HMERR_INVALID_QUERY_APP_WND      "Invalid application window handle in query."
  IDS_HMERR_HELP_INST_CALLED_INVA      "Help instance called invalid."
  IDS_HMERR_HELPTABLE_UNDEFINE	       "Help table undefined."
  IDS_HMERR_HELP_INSTANCE_UNDEFIN      "Help instance undefined."
  IDS_HMERR_HELPITEM_NOT_FOUND	       "Help item not found."
  IDS_HMERR_INVALID_HELPSUBITEM_S      "Invalid help subitem size."
  IDS_HMERR_HELPSUBITEM_NOT_FOUND      "Help subitem not found."
  IDS_HMERR_INDEX_NOT_FOUND	       "No index in library file."
  IDS_HMERR_CONTENT_NOT_FOUND	       "Table of contents not found."
  IDS_HMERR_OPEN_LIB_FILE	       "Unable to open help library."
  IDS_HMERR_READ_LIB_FILE	       "Unable to read help library."
  IDS_HMERR_CLOSE_LIB_FILE	       "Unable to close help library."
  IDS_HMERR_INVALID_LIB_FILE	       "Help library has invalid format."
  IDS_HMERR_NO_MEMORY		       "Out of memory."
  IDS_HMERR_ALLOCATE_SEGMENT	       "Unable to allocate segment."
  IDS_HMERR_FREE_MEMORY 	       "Unable to release memory."
  IDS_HMERR_PANEL_NOT_FOUND	       "Help panel not found."
  IDS_HMERR_DATABASE_NOT_OPEN	       "Help database not open."
  IDS_HMERR_UNKNOWN		       "--- Unknown Error ---"
  IDS_HELPMODE_FRAME		       "Frame"
  IDS_HELPMODE_MENU		       "Menu"
  IDS_HELPMODE_WINDOW		       "Window"
  IDS_HELPMODE_UNKNOWN		       "Unknown"
  IDS_HELPSUBITEMNOTFOUND	       "Help subitem not found:\n"
				       "Mode='%s'\n"
				       "Topic=%u\n"
				       "Subtopic=%u"
}
