/***************************************************************** MEMSIZE.RC
 *									    *
 *	     System Resources monitor resource definition file		    *
 *									    *
 *	    This file contains language-independent definitions.	    *
 *									    *
 ****************************************************************************/

#define INCL_PM
#include <os2.h>

#include "memsize.h"

POINTER ID_MAIN MEMSIZE.ICO

ACCELTABLE ID_MAIN
{
  VK_F2, IDM_SAVE_APPLICATION, VIRTUALKEY
  VK_F3, IDM_EXIT,	       VIRTUALKEY
  "H",	 IDM_HIDE_CONTROLS,    ALT
  "h",	 IDM_HIDE_CONTROLS,    ALT
  "C",	 IDM_CONFIGURE,        ALT
  "c",	 IDM_CONFIGURE,        ALT
}

HELPSUBTABLE ID_MAIN
{
//
//	      Item ID		       Help Panel ID
//
  HELPSUBITEM IDM_SAVE_APPLICATION,    IDM_SAVE_APPLICATION
  HELPSUBITEM IDM_RESET_DEFAULTS,      IDM_RESET_DEFAULTS
  HELPSUBITEM IDM_HIDE_CONTROLS,       IDM_HIDE_CONTROLS
  HELPSUBITEM IDM_CONFIGURE,	       IDM_CONFIGURE
  HELPSUBITEM IDM_ABOUT,	       IDM_ABOUT
}


HELPTABLE ID_MAIN
{
//
//         Window ID          Help Sub-Table ID     Help Panel ID
//
  HELPITEM ID_MAIN,	      ID_MAIN,		    ID_MAIN
  HELPITEM FID_CLIENT,	      ID_MAIN,		    ID_MAIN
  HELPITEM IDD_ABOUT,	      ID_MAIN,		    IDD_ABOUT
  HELPITEM IDD_CONFIGURE,     ID_MAIN,		    IDD_CONFIGURE
  HELPITEM IDD_PROFILE_PATH,  ID_MAIN,		    IDD_PROFILE_PATH
}
