// snap.rc

#include <windows.h>
#include "snap.h"

snap  ICON  snap.ico

snap  MENU
BEGIN
  MENUITEM "&Start Capture" , IDM_START
  MENUITEM "&Clear Buffer"  , IDM_CLEAR
  MENUITEM "&About"         , IDM_ABOUT
  MENUITEM "\a&Help"        , IDM_HELP
END

ABOUT DIALOG                                                                                        22,  17, 134, 105
CAPTION "About Snap"
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU | WS_POPUP
BEGIN
  ICON    "snap"		     -1,							     9,  23,   0,   0
  CONTROL "Snap"                     -1, "static", SS_CENTER | WS_CHILD,                             0,   5, 134,   8
  CONTROL "Version 1.0"              -1, "static", SS_CENTER | WS_CHILD,                            25,  30,  84,   8
  CONTROL "Copyright (C) 1992"       -1, "static", SS_CENTER | WS_CHILD,                             0,  55, 134,   8
  CONTROL "Alex Fodchuk, Chernivtsi" -1, "static", SS_CENTER | WS_CHILD,                             0,  65, 134,   8
  CONTROL "OK"                     IDOK, "button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD,        51,  85,  32,  14
END
