// winapp.rc

#include <windows.h>
#include "winapp.h"

winapp  ICON winapp.ico

winapp  MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&New..."      , IDM_NEW
    MENUITEM "&Open"        , IDM_OPEN
    MENUITEM "&Move..."     , IDM_MOVE
    MENUITEM "&Copy..."     , IDM_COPY
    MENUITEM "&Delete"      , IDM_DEL
    MENUITEM "&Properties"  , IDM_PROP
    MENUITEM SEPARATOR
    MENUITEM "E&xit"        , IDM_EXIT
  END
  POPUP "&Options"
  BEGIN
    MENUITEM "&Auto Arrange"    , IDM_AUTO
    MENUITEM "&Minimize in Use" , IDM_MINI
  END
  POPUP "&Window"
  BEGIN
    MENUITEM "&Cascade"       , IDM_CASC
    MENUITEM "&Tile"          , IDM_TILE
    MENUITEM "&Arrange Icons" , IDM_MOVW
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&Index"        , IDM_NDX
    MENUITEM "&Keyboard"     , IDM_KEYB
    MENUITEM "&Basic Skills" , IDM_SKIL
    MENUITEM "&Commands"     , IDM_COMM
    MENUITEM "&Procedures"   , IDM_PROC
    MENUITEM "&Glossary"     , IDM_GLOS
    MENUITEM "&Using Help"   , IDM_USIN
    MENUITEM SEPARATOR
    MENUITEM "&About WinApp" , IDM_ABOUT
  END
END

STRINGTABLE
BEGIN
  IDS_NAME, "WinApp"
END

ABOUT DIALOG                                                                                        22,  17, 154,  75
STYLE WS_POPUP | WS_DLGFRAME
BEGIN
  ICON    "winapp"                   -1,                                                             9,  23,   0,   0
  CONTROL "WinApp"                   -1, "static", SS_CENTER | WS_CHILD,                             0,   5, 154,   8
  CONTROL "Version 1.0"              -1, "static", SS_CENTER | WS_CHILD,                            30,  34,  94,   8
  CONTROL "Ok"                     IDOK, "button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD,        61,  59,  32,  14
END
