#include <os2.h>

MENU 100 /* in char-mark */
BEGIN
  MENUITEM "Unmark\tAlt+U", 805
  MENUITEM "Delete mark\tAlt+D", 806
  MENUITEM "Fill mark", 9210
  MENUITEM "Reflow mark", 9211
  MENUITEM "Uppercase selection\tCtrl+F3", 9212
  MENUITEM "Lowercase selection\tCtrl+F4", 9213
  MENUITEM "Sort", 9214
  MENUITEM SEPARATOR
  MENUITEM "Copy\tCtrl+Ins", 808
  MENUITEM "Cut\tShift+Del", 809
  MENUITEM SEPARATOR
  MENUITEM "Style...\tCtrl+Y", 827
  MENUITEM SEPARATOR
  MENUITEM "Proof", 404
  MENUITEM SEPARATOR
  MENUITEM "Print mark...", 814
END

MENU 400 /* in non-char mark */
BEGIN
  MENUITEM "Unmark\tAlt+U", 805
  MENUITEM "Delete mark\tAlt+D", 806
  MENUITEM "Fill mark", 9210
  MENUITEM "Reflow mark", 9211
  MENUITEM "Uppercase selection\tCtrl+F3", 9212
  MENUITEM "Lowercase selection\tCtrl+F4", 9213
  MENUITEM "Sort", 9214
  MENUITEM SEPARATOR
  MENUITEM "Shift left 1\tCtrl+F7", 9220
  MENUITEM "Shift left 2", 9221
  MENUITEM "Shift left 3", 9222
  MENUITEM "Shift right 1\tCtrl+F8", 9224
  MENUITEM "Shift right 2", 9225
  MENUITEM "Shift right 3", 9226
  MENUITEM SEPARATOR
  MENUITEM "Copy\tCtrl+Ins", 808
  MENUITEM "Cut\tShift+Del", 809
  MENUITEM SEPARATOR
  MENUITEM "Style...\tCtrl+Y", 827
  MENUITEM SEPARATOR
  MENUITEM "Proof", 404
  MENUITEM SEPARATOR
  MENUITEM "Print mark...", 814
END

MENU 200 /* outside mark */
BEGIN
  MENUITEM "Copy mark", 800
  MENUITEM "Move mark\tAlt+M", 801
  MENUITEM "Overlay mark", 802
  MENUITEM "Adjust mark\tAlt+A", 803
  MENUITEM SEPARATOR
  MENUITEM "Unmark\tAlt+U", 805
END

MENU 300 /* no mark */
BEGIN
  MENUITEM "Mark word\tAlt+W", 9200
  MENUITEM "Mark identifier\tCtrl+W", 9201
  MENUITEM "Find identifier", 9202
  MENUITEM SEPARATOR
  MENUITEM "Uppercase word\tCtrl+F1", 9203
  MENUITEM "Lowercase word\tCtrl+F2", 9204
  MENUITEM SEPARATOR
  MENUITEM "Center line\tShift+F5", 9205
  MENUITEM "Scroll to top", 9206
END

MENU 1100 /* EPM popup menu (MB3) */
BEGIN
  MENUITEM "Paste\tShift+Ins", 810
  MENUITEM "~Import text file...", 201
  MENUITEM SEPARATOR
  MENUITEM "~Save\tF2", 206
  MENUITEM "~Rename...\tF7", 204
  MENUITEM SEPARATOR
  MENUITEM "~Make", 9208
  MENUITEM "~Build all", 9209
  MENUITEM SEPARATOR
  MENUITEM "~Print file...", 211
  MENUITEM "Search...\tCtrl+S", 300
END

