version=311
swmode=1
scrnsiz=0
deffg=7
defbg=0
bold=15
statfore=14
statback=4
bord=0
mbord=15
mbback=1
mfore=14
mbold=15
mback=1
mbar=4
msel=15
port=2
baud=120
parity="N"
data=8
stop=1
terminal=2
statline=1
echo=Off
addlf=Off
striphigh=Off
destbs=On
swapbs=0
xonxoff=On
xonany=Off
ctsrts=Off
dsrdtr=Off
cisbauto=On
zmodauto=On
ansback=""
cdmask=128
sound=On
alarm=On
keepabort=On
showfreee=On
qdbar=On
confhang=Off
usageon=Off
sback=10
capsize=1
datefmt=0
datesep="-"
timefmt=1
timesep=":"
enhkb=On
s16550b=On
minit="ATZ^M~~~AT S7=45 S0=0 V1 X1^M~"
dpref="ATDT"
dpref2="ATDT"
dpref3="ATDT"
dpost="^M"
connect="CONNECT"
busy1="NO CARRIER"
busy2="BUSY"
busy3="VOICE"
busy4="NO DIAL TONE"
mhang="~~~+++~~~ATH0^M"
autoanswer="ATS0=1^M"
dcancel="^M"
dtime=30
ptime=1
autobaud=Off
dtrhang=On
showtelno=On
downdir=""
updir=""
scriptdir=""
capfile="TELIX.CAP"
usefile="TELIX.USE"
dirprog=""
editor=""
image="TELIX.IMG"
astriph=Off
arabort=0
aecho=Off
aexpand=On
apacechr=0
alpacing=10
acpacing=0
aucrtrans=1
aulftrans=1
adcrtrans=1
adlftrans=1
ep1=""
ep1k=""
ep1u=""
ep1d=""
ep1t=0
ep1nn=Off
ep2=""
ep2k=""
ep2u=""
ep2d=""
ep2t=0
ep2nn=Off
ep3=""
ep3k=""
ep3u=""
ep3d=""
ep3t=0
ep3nn=Off
ep4=""
ep4k=""
ep4u=""
ep4d=""
ep4t=0
ep4nn=Off
xferbuf=4
xmdrlx=Off
fnguess=1
zdcrash=Off
zucrash=Off
zcrc32=On
zwinsiz=0
zftype=0
kmaxpack=94
kpad=0
knumpad=0
ksop=1
kquote=35
keol=13
kftype=1
c1addr=1016
c1irq=4
c2addr=760
c2irq=3
c3addr=1000
c3irq=4
c4addr=744
c4irq=3
c5addr=1016
c5irq=4
c6addr=1016
c6irq=4
c7addr=1016
c7irq=4
c8addr=1016
c8irq=4
