#include "windows.h"
#include "wizunzip.h"
#include "replace.h"
#include "rename.h"
#include "pattern.h"
#include "seldir.h"
#include "sound.h"

rcinclude about.dlg
rcinclude pattern.dlg
rcinclude replace.dlg
rcinclude rename.dlg
rcinclude sound.dlg
rcinclude seldir.dlg

WizUnzip ICON wizunzip.ico
unzipped ICON unzipped.ico

WizUnzip MENU
BEGIN
    POPUP        "&File"
    BEGIN
        MENUITEM    "&Open...",          IDM_OPEN
        MENUITEM    SEPARATOR
        MENUITEM    "&Unzip To...", IDM_CHDIR
        MENUITEM    SEPARATOR
        MENUITEM    "E&xit",             IDM_EXIT
    END

    POPUP       "&Edit"
    BEGIN
        MENUITEM        "&Select All Files\tF2",        IDM_SELECT_ALL
        MENUITEM        "&De-select All Files\tF3",     IDM_DESELECT_ALL
        MENUITEM        "Select Files by &Pattern...\tF4", IDM_SELECT_BY_PATTERN
        MENUITEM    SEPARATOR
        MENUITEM        "&Clear Status Window\tDel",    IDM_CLEAR_STATUS
        MENUITEM        "C&opy Status Window to Clipboard\tCtrl+C",    IDM_COPY
    END

    POPUP       "&View"
    BEGIN
        MENUITEM        "&Short Format",IDM_SHORT
        MENUITEM        "&Long Format", IDM_LONG
        MENUITEM        SEPARATOR
		MENUITEM		"Maximize &Archive Directory Listbox", IDM_MAX_LISTBOX
 		MENUITEM		"S&plit", IDM_SPLIT, CHECKED
       	MENUITEM        "Maximize S&tatus Window", IDM_MAX_STATUS
    END

    POPUP "&Options"
    BEGIN
        MENUITEM "&Recreate Directory Structure", IDM_RECR_DIR_STRUCT
        MENUITEM    SEPARATOR
        MENUITEM "&Overwrite Existing Files", IDM_OVERWRITE
        MENUITEM    SEPARATOR
        MENUITEM "Translate &LF to CR-LF", IDM_TRANSLATE
        MENUITEM    SEPARATOR
        MENUITEM "Listbox Selection &Extracts File", IDM_LB_EXTRACT
        MENUITEM "Listbox Selection &Displays File", IDM_LB_DISPLAY
        MENUITEM "Listbox Selection &Tests File", IDM_LB_TEST
        MENUITEM    SEPARATOR
        MENUITEM "&Unzip to Same Directory as .ZIP", IDM_UNZIP_TO_ZIP_DIR
        MENUITEM    SEPARATOR
        MENUITEM "&Sound Options...", IDM_SOUND_OPTIONS
		MENUITEM	SEPARATOR
		MENUITEM "&Clear Status Window Before Displaying", IDM_AUTOCLEAR_STATUS
    END

    POPUP        "&Help"
    BEGIN
        MENUITEM  "&WizUnZip Help\tF1"  IDM_HELP
        MENUITEM  "&Using Windows Help"         IDM_HELP_HELP
        MENUITEM    SEPARATOR
        MENUITEM "&About WizUnZip...",              IDM_ABOUT
    END

END

WizunzipAccels ACCELERATORS
BEGIN
    VK_F1,     IDM_HELP,  VIRTKEY
    VK_F2,     IDM_SELECT_ALL,  VIRTKEY
    VK_F3,     IDM_DESELECT_ALL,  VIRTKEY
	VK_F4,	   IDM_SELECT_BY_PATTERN, VIRTKEY
    0x58,     IDM_EXTRACT,  VIRTKEY
    0x58,     IDM_EXTRACT,  VIRTKEY, SHIFT
    0x58,     IDM_EXTRACT,  VIRTKEY, CONTROL
    0x44,     IDM_DISPLAY,  VIRTKEY
    0x44,     IDM_DISPLAY,  VIRTKEY, SHIFT
    0x44,     IDM_DISPLAY,  VIRTKEY, CONTROL
    0x54,     IDM_TEST,         VIRTKEY
    0x54,     IDM_TEST,         VIRTKEY, SHIFT
    0x54,     IDM_TEST,         VIRTKEY, CONTROL
    0x53,     IDM_SHOW_COMMENT,  VIRTKEY
    0x53,     IDM_SHOW_COMMENT,  VIRTKEY, SHIFT
    0x53,     IDM_SHOW_COMMENT,  VIRTKEY, CONTROL
    VK_DELETE,     IDM_CLEAR_STATUS,  VIRTKEY
    0x43,     IDM_COPY,         VIRTKEY, CONTROL
END

HelpCursor CURSOR help.cur

