//===========================================================
// FDDLLS.RC - Resource script
// Copyright (C) 1994 Douglas Boling
//===========================================================

#include "windows.h"
#include "FDDLLS.h"
#include "statbar.h"

WinFDDLLSIcon ICON FDDLLS.ico

//------------------------------------------------------------------------
//  Menu Definition.  
//------------------------------------------------------------------------
WinFDDLLSMenu MENU {
   POPUP "&File" {
      MENUITEM "&Scan Disks",       IDM_SCAN
      MENUITEM "&Select Disks",     IDM_SELDISKS
      MENUITEM SEPARATOR
      MENUITEM "Get &Information",  IDM_OPEN
      MENUITEM SEPARATOR
      MENUITEM "E&xit",             IDM_EXIT
   }
   POPUP "&View" {
      MENUITEM "&Both EXE and DLL files", IDM_SHOWBOTH
      MENUITEM "&EXE files only",   IDM_SHOWEXES
      MENUITEM "&DLL files only",   IDM_SHOWDLLS
   }
   POPUP "&Sort" {
      MENUITEM "By &Name",          IDM_SORTNAME
      MENUITEM "By &Extension",     IDM_SORTEXTS
      MENUITEM "By &Path",          IDM_SORTPATH
      MENUITEM "By &Module Name",   IDM_SORTMOD
      MENUITEM "By &Reference count", IDM_SORTREFS
   }
   POPUP "&Help" {
      MENUITEM "&About",            IDM_ABOUT
   }
}
//------------------------------------------------------------------------
//  Accelerator Definitions
//------------------------------------------------------------------------
WinFDDLLS ACCELERATORS {
   VK_F1,         IDM_ABOUT,   VIRTKEY
   VK_RETURN,      IDM_OPEN,    VIRTKEY
}
//---------------------------------------------------------
// Scan Dialog template
//---------------------------------------------------------
Scan DIALOG 100, 100, 140, 52
CAPTION "Scan Disks"
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
FONT 8, "Helv"
BEGIN
   LTEXT "",                    IDD_TEXT,   5,   5,  75,  45
   DEFPUSHBUTTON "&Scan",           IDOK,  85,   5,  50,  12
   PUSHBUTTON "&Cancel",        IDCANCEL,  85,  20,  50,  12
   PUSHBUTTON "&Select Disks",
                            IDD_SELDISKS,  85,  37,  50,  12
END										  
//---------------------------------------------------------
// SelDisks Dialog template
//---------------------------------------------------------
SelDisks DIALOG 110, 110, 85, 115
CAPTION "Select Disks"
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
FONT 8, "Helv"
BEGIN
   LTEXT "Select Drives to scan.  To provide complete coverage select all non-removable disks.",
                                      -1,   5,   5,  75,  35
   LISTBOX                   IDD_DRVLIST,   5,  45,  30,  70, 
               LBS_MULTIPLESEL | WS_TABSTOP | WS_VSCROLL
			  							    
   DEFPUSHBUTTON "&OK",             IDOK,  40,  45,  40,  12
   PUSHBUTTON "&Cancel",        IDCANCEL,  40,  60,  40,  12
   PUSHBUTTON "&Scan",          IDD_SCAN,  40,  77,  40,  12
END										  
//---------------------------------------------------------
// File Information Dialog template
//---------------------------------------------------------
FileInfo DIALOG 20, 20, 255, 200
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "File Information"
FONT 8, "MS Sans Serif"
BEGIN
   LTEXT "Name:",                    -1,   5,   5,  50,  10
   LTEXT "",              IDD_IFILENAME,  56,   5, 155,  10

   LTEXT "Dir:",                     -1,   5,  16,  50,  10
   LTEXT "",              IDD_IFILEPATH,  56,  17, 155,  10

   LTEXT "Size:",                    -1,   5,  28,  50,  10
   LTEXT "",              IDD_IFILESIZE,  56,  29, 155,  10

   LTEXT "Date:",                    -1,   5,  40,  50,  10
   LTEXT "",              IDD_IFILEDATE,  56,  41, 155,  10

   LTEXT "Attributes:",              -1,   5,  52,  50,  10
   LTEXT "",             IDD_IFILEATTRS,  56,  53, 155,  10

   LTEXT "Module Name:",             -1,   5,  64,  50,  10
   LTEXT "",           IDD_IFILEMODNAME,  56,  65, 155,  10

   LTEXT "Referenced By:",           -1,   5,  76, 120,  12
   LISTBOX                IDD_IFILEREFS,   5,  89, 120, 108, LBS_SORT | WS_VSCROLL | 
                                                             WS_TABSTOP
   LTEXT "File Dependencies:",       -1, 130,  76, 120,  12
   LISTBOX                 IDD_IFILEDEP, 130,  89, 120, 108, LBS_SORT | WS_VSCROLL | 
                                                             WS_TABSTOP
   DEFPUSHBUTTON "Ok",             IDOK, 210,   5,  40,  14
   PUSHBUTTON "Close All",  IDD_IFILECA, 210,  22,  40,  14
END
//---------------------------------------------------------
// About Box Dialog template
//---------------------------------------------------------
AboutBox DIALOG 23, 20, 140, 97
CAPTION "About FDDLLS"
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
FONT 8, "Helv"
BEGIN
   ICON "WinFDDLLSIcon",             -1,   5,   5,  16,  16
   CTEXT "FDDLLS ",         IDD_PROGSTR,  40,  12,  60,  10
   CTEXT "Copyright \251 1994\nDouglas Boling", 
                          IDD_COPYRIGHT,  10,  23, 120,  20
   CTEXT "First published in PC Magazine\nDecember 6, 1994 (US Edition).\nFor private, non-commercial use only. All rights reserved."
                           IDD_COPYDATE,  15,  44, 110,  34
   DEFPUSHBUTTON "OK",             IDOK,  50,  83,  40,  12
END

//---------------------------------------------------------
// Stringtable for status bar
//---------------------------------------------------------
STRINGTABLE {
   //
   //Error message strings
   //
   1,   "Command Canceled"
   2,   "Not enough memory"
   3,   "Too many files"
   4,   "Recursion limit reached on sort, list not completely sorted"
   5,   "Disk Full"
   6,   "Name too long"
   7,   "Path information not allowed in file specification"
   8,   "Illegal file size"
   9,   "Date must be in MM-DD-YYYY format"
   10,  "Can\'t open executable file"
   11,  "Could not find all directories in Windows search path"
   //
   // Strings for menu tags
   //
   MENUTEXT+IDM_SCAN,       "Scan disks"
   MENUTEXT+IDM_SELDISKS,   "Select disks to scan"
   MENUTEXT+IDM_EXIT,       "Exit FDDLLS"
   MENUTEXT+IDM_SHOWBOTH,   "Display EXE and DLL files in listbox"
   MENUTEXT+IDM_SHOWEXES,   "Display EXE files in listbox"
   MENUTEXT+IDM_SHOWDLLS,   "Display DLL files in listbox"
   MENUTEXT+IDM_SHOWPATH,   "Display Path information in listbox"
   MENUTEXT+IDM_SORTNAME,   "Sort list by file name"
   MENUTEXT+IDM_SORTEXTS,   "Sort list by file extension"
   MENUTEXT+IDM_SORTPATH,   "Sort list by path"
   MENUTEXT+IDM_SORTMOD,    "Sort list by module name"
   MENUTEXT+IDM_SORTREFS,   "Sort list by number of reference made to file"
   MENUTEXT+IDM_ABOUT,      "Display the About dialog"
   
   MENUTEXT+SC_SIZE,        "Size the window with the keyboard"
   MENUTEXT+SC_MOVE,        "Move the window with the keyboard"
   MENUTEXT+SC_MINIMIZE,    "Minimize the window"
   MENUTEXT+SC_MAXIMIZE,    "Maximize the window"
   MENUTEXT+SC_CLOSE,       "Close the window"
   MENUTEXT+SC_RESTORE,     "Restore the window"
   MENUTEXT+SC_TASKLIST,    "Switch to another window"

   IDM_SYSMENUACTIVE,"Move, size, minimize, maximize or close window"

}
