#include <windows.h>

100 ICON "qexit.ico"

400 DIALOG 30, 33, 203, 80
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Quick Exit Setup"
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "Left Click Action", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 10, 6, 116, 66
	CONTROL "&Exit Windows", 100, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 22, 79, 12
	CONTROL "&Restart Windows", 101, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 36, 79, 12
	CONTROL "&Confirm before Exit/Restart", 102, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 17, 54, 104, 10
	CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 139, 11, 56, 14
	PUSHBUTTON "Cancel", IDCANCEL, 139, 28, 56, 14
END

