/*
	BarClock(tm) v2.4

	Copyright (c) 1993-1994  Patrick Breen
	All rights reserved.

	How to reach me:

		Patrick Breen

		Atomic Dog Software
		PO Box 523
		Medford, MA 02155

		Phone (617) 396-2673
		Fax   (617) 396-5761

		Internet:			pbreen@world.std.com
		CompuServe: 		70312,743
		America Online: 	PBreen
*/

#include <windows.h>

100 MENU
BEGIN
	POPUP "BarClock DDE"
	BEGIN
		MENUITEM "Message...", 100
		MENUITEM "Calendar", 101
		MENUITEM "Play wave", 102
		MENUITEM "Run app", 103

		MENUITEM SEPARATOR
		MENUITEM "Add Timer", 110
		MENUITEM "Delete Timer", 111
		MENUITEM "Start Timer", 112
		MENUITEM "Stop Timer", 113

		MENUITEM SEPARATOR
		MENUITEM "Add Alarm", 120
		MENUITEM "Delete Alarm", 121

		MENUITEM SEPARATOR
		MENUITEM "Choose host...", 140
		MENUITEM "Clear host", 141

		MENUITEM SEPARATOR
		MENUITEM "Exit", 200
	END
END

