#include "extconst.inc"

/************************************************************************

STRINGTABLE
{
  srGadgets, "Gadgets"
  srDBExt, "Data Aware"
  SLocalDatabase, "Cannot perform this operation on a local database"
  SDualListSrcCaption, "&Source"
  SDualListDestCaption, "&Destination"
  SBrowse, "Browse"
  SDefaultFilter,  "All files (*.*)|*.*"
  SDateDlgTitle, "Select a Date"
  SNextYear, "Next Year|"
  SNextMonth, "Next Month|"
  SPrevYear, "Previous Year|"
  SPrevMonth, "Previous Month|"
  SNotImplemented, "Function not yet implemented"
  SFileNotExec, "File specified is not an executable file, dynamic-link library, or icon file"
  SRetryLogin, "Do you wish to retry the connect to database?"
}

******************************************************************************/

STRINGTABLE
{
  srGadgets, "Gadgets"
  srDBExt, "Data Aware"
  SLocalDatabase, "Невозможно произвести эту операцию с локальной базой данных"
  SDualListSrcCaption, "&Источник"
  SDualListDestCaption, "&Приемник"
  SBrowse, "Список"
  SDefaultFilter,  "Все файлы (*.*)|*.*"
  SDateDlgTitle, "Выбор даты"
  SNextYear, "Следующий год|"
  SNextMonth, "Следующий месяц|"
  SPrevYear, "Предыдущий год|"
  SPrevMonth, "Предыдущий месяц|"
  SNotImplemented, "Функция не реализована"
  SFileNotExec, "Указанный файл не является исполнимым файлом, динамической библиотекой или файлом иконки"
  SRetryLogin, "Вы хотите повторить попытку соединения с базой данных?"
}