#include <windows.h>
#include "cntrls.h"

OUR_ICON ICON assoc.ico

MAIN_DLG DIALOG 69, 44, 201, 129
STYLE DS_ABSALIGN | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Association Utility Configuration"
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL " E&xtension ", 102, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 5, 0, 62, 113
	CONTROL "", EXT_LIST, "LISTBOX", LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 13, 12, 49, 100
	CONTROL " &Menu Items ", 103, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 80, 0, 116, 113
	CONTROL "", MENU_LIST, "LISTBOX", LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 86, 12, 104, 100
	CONTROL "&Edit...", EDIT_BUT, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, -1, 115, 41, 14
	PUSHBUTTON "&Append...", APPEND_BUT, 39, 115, 41, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Delete", DELETE_BUT, 79, 115, 41, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Save", SAVE_BUT, 120, 115, 41, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Close", IDCANCEL, 160, 115, 41, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

EXT_INPUT DIALOG 41, 88, 146, 20
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Edit Extension"
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "", EXT_TEXT, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 3, 4, 42, 12
	CONTROL "&OK", 1, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 53, 4, 40, 12
	PUSHBUTTON "&Cancel", 2, 102, 4, 40, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

INP_DLG DIALOG 33, 67, 194, 95
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Edit Menu Item"
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "&Text:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 3, 58, 9
	CONTROL "", MENU_ITEM, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 15, 112, 12
	CONTROL "&Command Line:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 32, 52, 9
	CONTROL "", COMM_LINE, "EDIT", ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 43, 112, 12
	LTEXT "&Run style", -1, 4, 59, 35, 8
	CONTROL "", RUN_STYLE, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 71, 61, 42
	CONTROL "&OK", 1, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 138, 5, 40, 14
	PUSHBUTTON "&Cancel", 2, 138, 24, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Browse...", BROWSE_BUT, 138, 43, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

ABOUT_DLG DIALOG 27, 74, 168, 57
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Assoc"
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "File Association Utility    Version 2.0", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 34, 3, 132, 8
	DEFPUSHBUTTON "OK", 1, 37, 40, 92, 15, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "Copyright (C) 1992-93 by A.Markiluyk", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 42, 13, 117, 8
	ICON OUR_ICON, -1, 13, 13, 18, 20
	CTEXT "Alexander Markilyuk", -1, 62, 21, 68, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
END




