/*
╔═════════════════════════════════════════════════════════════════════════════╗
║ Пакет                                                                       ║
║                                                                             ║
╚═════════════════════════════════════════════════════════════════════════════╝
                          ╔════════════════════════╗
                          ║ История редактирования ║
                          ╚════════════════════════╝
Начало проектирования

                  ╔════════════════════════════════════════╗
                  ║ Описание экспортируемых функций пакета ║
                  ╚════════════════════════════════════════╝

                 ╔═══════════════════════════════════════════╗
                 ║ Описание экспортируемых переменных пакета ║
                 ╚═══════════════════════════════════════════╝

*/
                       /*╔══════════════════════════╗
                         ║ Секция включаемых файлов ║
                         ╚══════════════════════════╝*/

                        /*╔═════════════════════════╗
                          ║ Секция макроопределений ║
                          ╚═════════════════════════╝*/

                    /*╔═════════════════════════════════╗
                      ║ Секция определения типов данных ║
                      ╚═════════════════════════════════╝*/

                    /*╔════════════════════════════════╗
                      ║ Секция локальных данных пакета ║
                      ╚════════════════════════════════╝*/

                    /*╔═════════════════════════════════╗
                      ║ Секция глобальных данных пакета ║
                      ╚═════════════════════════════════╝*/

                       /*╔═══════════════════════════╗
                         ║ Секция прототипов функций ║
                         ╚═══════════════════════════╝*/

                    /*╔═════════════════════════════════╗
                      ║ Секция локальных функции пакета ║
                      ╚═════════════════════════════════╝*/

                   /*╔══════════════════════════════════╗
                     ║ Секция глобальных функций пакета ║
                     ╚══════════════════════════════════╝*/
