            /*╔════════════════════════════════════════════════╗
              ║  Программа препроцессора русской лексики RCC   ║
              ║  Гурин С.В. Томский политехнический институт,  ║
              ║             кафедра электрических станций      ║
              ║             октябрь 1990                       ║
              ╚════════════════════════════════════════════════╝*/
